.card {
    width: 350px;
    height: 450px;
    background: white;
    border-radius: 12px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Georgia", serif;
}

.palo-top,
.palo-bottom {
    font-size: 3.5rem;
}

.palo-bottom {
    transform: rotate(180deg);
}

.numero-centro {
    font-size: 7rem;
    text-align: center;
    margin-top: -10px;
}

.spade, .club {
    color: black;
}

.heart, .diamond {
    color: red;
}